<!DOCTYPE html>
<html lang="en" ng-app="myApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Implicit Security OAuth</title>
    
    <link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/libs/angular/angular.js}"></script>
    <script th:src="@{/libs/angular-resource/angular-resource.js}"></script>
    <script th:src="@{/libs/angular-route/angular-route.js}"></script>
    <script th:src="@{/libs/ngstorage/ngStorage.js}"></script>
    <script th:src="@{/libs/oauth-ng/dist/oauth-ng.js}"></script>
    
    <script th:src="@{/scripts/implicit-app.js}"></script>
    
    <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    	var GLB_HOSTNAME = /*[[${@environment.getProperty('app.server.hostname')}]]*/ 'localhost';
    	var GLB_CONTEXT = /*[[@{/}]]*/ '/';
    /*]]>*/
    </script>
</head>
<body ng-controller="mainCtrl">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Implicit Security OAuth</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div id="oauth"></div>
        <!-- <oauth
            site="http://localhost:8080"
            client-id="sampleClientId"
            redirect-uri="http://localhost:8070/implicit"
            scope="read write foo bar"
            template="implicit-panel.html">
        </oauth>-->
    </div>
    <div class="container">
        <div class="alert alert-info" ng-show="message">{{message}}</div>
        <h1>Foo Details</h1>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <label class="col-sm-2">ID</label>
                <span class="col-sm-10">
                    <input class="form-control" ng-model="foo.id" />
                </span>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-2">Name</label>
                <span class="col-sm-10">
                    <input class="form-control" ng-model="foo.name" />
                </span>
            </div>
            <div class="col-sm-12">
                <a class="btn btn-default" href ng-click="getFoo()">Get Foo</a>
                <a class="btn btn-default" href ng-click="createFoo()">Create Foo</a>
            </div>
        </div>

        <h1>Token Details</h1>
        <div class="col-sm-6">
            <br />
            <br />
            <a class="btn btn-info" href ng-click="getTokens()">Get tokens</a>
            <br /> Valid tokens:
            <ul>
                <li ng-repeat="token in tokenList">{{token}}</li>
            </ul>
            Your current token: {{token}} <br />
            <br />
            <label class="col-sm-2">Token to revoke:</label>
            <span class="col-sm-10">
                <input class="form-control" ng-model="tokenToRevoke" />
            </span>
            <a class="btn btn-info" href ng-click="revokeAccessToken()">Revoke Token</a>
        </div>
    </div>
</body>
</html>